:root {
    font-family: 'Open Sans';
}

html {
    width: 60%;
    /* height: 100%;
    min-height: 100%; */
    margin: 0 auto;
    font-size: 16px;
    /* background-color: #FFFFFF; */
    /* background: #252539; */
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    /* background-color: #FFFFFF; */
    background: #0a0024;
    margin: 10px;
    padding: 0;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

#site-title {
    color: white;
}

/* SCROLL BAR FORMATTING (NOT WORKING THO) */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* Upload SVG section */
input[button] {
    border-radius: 15px;
}

/* TABLE FORMATTING */
table/* ,
td */ {
    width: 100%; /* This allows for the .table-title to work */
    border: 3px solid black;
    text-align: center;
}

td {
    padding: 9px;
    border: 1px solid black;
}

.table-title { 
    text-align: center;
    column-span: all; /* Allows it to be as wide as all the columns */
    border: 3px solid black;
}

.title {
    width: 33%;
}

.desc {
    width: 67%;
}

thead tbody td {
    color: yellowgreen;
    text-align: center;
}

/* .log-data {
    overflow: scroll;
} */

.log-data td {
    text-align: center;
}

.log-data td img {
    width: 200px;
    height: auto;
}

.log-data-body {
    overflow-y: auto;
    height: 600px;
    display: block;
}

.log-data-body .log-data:hover {
    background-color: darksalmon;
}

#component,
#otherAttr {
    width: 20%;
}

#summary {
    width: 80%;
}

.view-data {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.desc p,
.title p {
    word-wrap: break-word;
}

.view-panel img {
    width: 100%;
    max-width: 750px;
    height: auto;
}