html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

/* TABLE FORMATTING */
table,
td, 
tbody {
    width: 100%; /* This allows for the .table-title to work */
    border: 3px solid black;
    text-align: center;
}

tbody,
td {
    padding: 10px;
    border: 1px solid black;
}

.table-title { 
    text-align: center;
    column-span: all; /* Allows it to be as wide as all the columns */
}

/* .file-log, .view-panel {
    border: 5px solid gray;
    border-radius: 15px;
    text-align: center;
} */

.view-panel {
    overflow: scroll; /* If too many items in this table row, adds a scroll bar */
}

thead tbody td {
    color: yellowgreen;
    text-align: center;
}

.log-data {
    overflow: scroll; /* If too many items in this table row, adds a scroll bar */
}

.log-data td {
    text-align: center;
}

.log-data td img {
    width: 200px;
    height: auto;
}

.log-data-body {
    overflow: auto;
    height: 600px;
    /* display: table-cell; */
}